package layouts

import (
	"github.com/jus4/favorite-boulders/internal/templates/components"
	"github.com/jus4/favorite-boulders/internal/helpers"
  "github.com/jus4/favorite-boulders/internal/model"
)

var timeStamp = helpers.GetTimeStamp()
var styleSheet = "/static/master.css?v=" + timeStamp
var jsScripts = "/static/master.js?v=" + timeStamp

templ Layout(metadata model.Metadata, children...templ.Component) {
  <!DOCTYPE html>
  <html lang="fi">
    <head>
      <title>
        { metadata.Title }
      </title>
      if metadata.Description != nil {
        <meta content="{ metadata.Description }" name="description">
      }
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v10.5.0/ol.css">
      <link  href={ styleSheet } rel="stylesheet">
    </head>
    <body>
        @components.Header()
        @components.QuickSearchModal()
        <main id="main">
          { children... }
        </main>
        @components.Footer()

      <script defer src="https://unpkg.com/htmx.org@2.0.3"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/proj4@2.11.0/dist/proj4.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/ol@v10.5.0/dist/ol.js"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.js"></script>
      <script defer src={ jsScripts }></script>
    </body>
  </html>
}

