package components


var quickSearchHandle = templ.NewOnceHandle()

templ QuickSearchButton(isMobile bool) {
  if isMobile {
    <button id="show-quick-search-btn-mobile" class="h-[30px] border px-2 flex items-center rounded-lg">{children...}</button> 
  } else {
    <button id="show-quick-search-btn" class="border py-2 px-4 rounded-lg">{children...}</button> 
  }
}

templ Button(attrs templ.Attributes) {
  <button { attrs...} class="rounded-md bg-primaryCyan text-dark-charkol font-medium px-4 py-2">{children...}</button> 
}

templ QuickSearchModal() {
  @quickSearchHandle.Once(){
    <div 
      id="quick-search-modal" 
      class="z-50 absolute w-full h-auto z-100 opacity-0 overflow-x-hidden overflow-y-auto pointer-events-none bg-white flex justify-center" 
      role="dialog" tabindex="-1" 
      aria-labelledby="hs-basic-modal-label">

      <div class="max-w-[800px] w-full">
        <div class="flex flex-col mx-6 border-gray-200 shadow-2xs pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
          <div class="flex justify-between items-center py-3">
              <input id="route-search-input" class="p-2 md:p-4 border rounded-sm w-full" type="search"
                name="route-search" placeholder="Hakusana"
                hx-post="/api/get-routes/"
                hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load"
                hx-target="#route-results"
                >
            <button  type="button" id="js-close-search-modal" class="js-close-modal ml-4 size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600" aria-label="Close" data-hs-overlay="#hs-basic-modal">
              <span class="sr-only">Close</span>
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
              </svg>
            </button>
          </div>
          <div class="pb-4 overflow-y-auto">
            <div id="route-results"></div>
          </div>
        </div>


      </div>
    </div>
    <script>
      class QuickSearchModal {
        constructor(){
          this.showModalBtn = document.getElementById('show-quick-search-btn')
          this.showModalBtnMobile = document.getElementById('show-quick-search-btn-mobile')
          this.modal = document.getElementById('quick-search-modal')
          this.modalInput = document.getElementById('route-search-input')
          this.closeModalBtb = document.getElementById('js-close-search-modal')
          this.modalOpen = false
          this.openModal = this.openModal.bind(this)
          this.hideModal = this.hideModal.bind(this)
        }

        openModal(){
          this.modal.classList.remove('hidden', 'opacity-0')
          this.modalOpen = true
          this.modalInput.focus()
        }

        hideModal(){
          this.modal.classList.add('hidden', 'opacity-0')
          this.modalOpen = false
        }

        handleShowModalBtw() {
          if (this.modalOpen) {
            this.hideModal()
          } else {
            this.openModal()
          }
        }

        initEventListeners() {
          this.showModalBtn.addEventListener('click', this.handleShowModalBtw.bind(this))
          this.showModalBtnMobile.addEventListener('click', this.handleShowModalBtw.bind(this))
          this.closeModalBtb.addEventListener('click', this.hideModal)

          document.addEventListener('keydown', function(event) {
            if (event.ctrlKey && event.key === 'k') {
              event.preventDefault();
              this.openModal()
            }
          }.bind(this));

          document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
              event.preventDefault();
              this.hideModal()
            }
          }.bind(this));

          // global event for closing modal
          window.closeQuickSearchModal = this.hideModal
        }
      }

      document.addEventListener("DOMContentLoaded", () => {
        const initQuickSearch = new QuickSearchModal()
        initQuickSearch.initEventListeners()
      });
    </script>
  }

}

