package components

import ( 
  "github.com/jus4/favorite-boulders/internal/middleware"
)

templ Header() {
  <header>
    if user := middleware.GetUserID(ctx); user.OK {
      <div class="w-full bg-gray py-2"> 
        <div class="container flex justify-end items-center">
          <a href="/auth/logout">Kirjaudu ulos</a><span class="mx-2">|</span>{user.ID}
        </div>
      </div>
    }
    <div class="container py-2 md:py-6">
      <div class="flex w-full justify-between items-center">
        <div>
          <a href="/" class="font-nunito-bold text-2xl md:text-3xl">Suomi topot</a>
        </div>
        <div class="flex-grow flex justify-end">
          <ul class="items-center gap-6 hidden md:flex">
            <li>
              @QuickSearchButton(false) {
                Haku ctrl k
              }
            </li>
            if user := middleware.GetUserID(ctx); user.OK {
              <li><a href="/favourite-climbs/" data={user.ID}>Favourite climbs</a></li>
            } else {
              <li><a href="/auth/google/login">Kirjaudu</a></li>
            }
          </ul>
          <div class="flex gap-4 md:hidden">
              @QuickSearchButton(true) {
                Haku
              }
            <button class="w-[30px] h-[30px] border rounded-full">M</button>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>
  </header>
}
